<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="sport.properties"/>

    <bean id="myFortuneService"
    class="configuration_with_xml.HappyFortuneService">
    </bean>

    <bean id="myCoach"
    class="configuration_with_xml.TrackCoach"
    init-method="onInitMethod"
    destroy-method="onDestroyMethod">
        <property name="fortuneService" ref="myFortuneService"/>
        <property name="emailAddres" value="${foo.email}"/>
        <property name="team" value="${foo.team}"/>
    </bean>

</beans>